@import "compass/css3";

.sa-container {

  position: relative;
  padding-top: 60px;
  height: 200px;

  .sa-word {
    @include box-sizing(border-box);
    @include transition-duration(2s);

    white-space: nowrap;
    display: inline-block;
  }

  .sa-word,
  .sa-placeholder {
    @include opacity(0);
  }

  .sa-splash {
    position: absolute;
    top: 0;
  }
}
